/* GERAIS */
*{
    padding: 0;
    margin:0;
    font-family: 'Ubuntu', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(180deg,#594cee 0%,#0dd8f5 100% );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.hide {
    display: none;
}

.container {
    background-color: #5c54ed;
    box-shadow: rgba(0, 0 ,0, .24) 0px 3px 8px;
    padding: 2rem;
    color: #FDFDFD;
    border-radius: 1rem;
}

/* FORM */

.form-input-container{
    display: flex;
    margin-top: .6rem;
}

.form input{
    border: none;
    padding: .8rem;
    flex: 1;
    border-radius: 4px;
}

.form button{
    padding: .8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: #0dd8f5;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}

/* CLIMA */

#weather-data{
    border-top: 1px solid #fff;
    margin-top: 1.5rem;
    padding-top: 1.5rem;
    text-align: center;
    h2{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: .6rem;
        h2 i{
            font-size: 1rem;
        }
        h2 span{
            margin: .6rem;
        }
    }
}


#country-flag {
    height: 25px;
}

#description-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .6rem 0;
}

#details-container{
    display: flex;
    justify-content: center;
    align-items: center;
    #umidity{
        border-right: 1px solid #fff;
        margin: .6rem;
        padding: .6rem;
    }
}
